apikeys.properties
.gradle
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/node_modules
/app/release

# User-specific configurations
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
/.idea/tasks.xml
/.idea/.name
/.idea/compiler.xml
/.idea/copyright/profiles_settings.xml
/.idea/encodings.xml
/.idea/misc.xml
/.idea/scopes/scope_settings.xml
/.idea/vcs.xml
/.idea/discord.xml
*.iml

# Floobits
.floo
.flooignore
